//===============================================================================
// FOOTER
//===============================================================================
.site-footer{
  @include text-shadow(1px 1px hsla(0, 0, 100, .4));

  background-color: #93a9b8;
  padding: 20px 20px 80px;
  color: #3b4954;
  margin-top: 80px;
}