//===============================================================================
// MEDIA-QUERIES
//===============================================================================
@media (min-width:500px){
  .fact-container{
    width: 70%;
    margin: 0 15% 30px;
  }
}

@media (min-width:700px){
  .fact-container{
    width: 48%;
    margin: 0 1% 30px;
  }

  .facts-list hr:nth-child(4n){
    width: 100%;
  }
}

@media (min-width:880px){
  .fact-container{
    width: 31.33333%;
    margin: 0 1% 30px;
  }

  .facts-list hr:nth-child(4n){
    width: 0;
  }

  .facts-list hr:nth-child(6n){
    width: 100%;
  }
}

@media (min-width:1200px){
  .wrap{
    width: 1040px;
    margin: 67px auto 0;
  }
}