//===============================================================================
// MEDIA-QUERIES
//===============================================================================
@media (min-width:500px){
  .fact-container{
    width: 70%;
    margin: 0 15% 30px;
  }
}

@media (min-width:700px){
  .fact-container{
    width: 49%;
    margin: 0 2% 30px 0;

    &:nth-child(2n){
      margin-right: 0;
    }
  }
}

@media (min-width:880px){
  .fact-container{
    width: 32%;
    margin: 0 2% 30px 0;

    &:nth-child(2n){
      margin-right: 2%;
    }

    &:nth-child(3n){
      margin-right: 0%;
    }
  } 
}

@media (min-width:1200px){
  .wrap{
    width: 1040px;
    margin: 67px auto 0;
  }
}