//===============================================================================
// VARIABLES
//===============================================================================
$paper: #b2c3cf;
$ink: hsl(0, 0, 0);
$link: #519ad5;
$header: $ink;

$info-btn: lighten(#d46a00, 1);

$body-font: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

$wrap-width: 38em;

// colors stolen from http://designmodo.github.io/Flat-UI/
$turquoise: #1ABC9C;
$emerland: #2ECC71;
$blue: #3498DB;
$purple: #9B59B6;
$dark-blue: #34495E;
$yellow: #F1C40F;
$orange: #E67E22;
$red: #E74C3C;
$light-grey: #ECF0F1;
$grey: #95A5A6;

$turquoise-alt: #16A085;
$emerland-alt: #27AE60;
$blue-alt: #2980B9;
$purple-alt: #8E44AD;
$dark-blue-alt: #2C3E50;
$yellow-alt: #F39C12;
$orange-alt: #D35400;
$red-alt: #C0392B;
$light-grey-alt: #BDC3C7;
$grey-alt: #7F8C8D;
//===============================================================================
// IMPORTS
//===============================================================================
// COMPASS: compass css3 mixins
@import "compass/css3";

// MIXINS: define mixins for later use
@import "_mixins";

// FONTS: @font-face rules
@import "_fonts";

// NORMALIZE: normalize.css from ttp://necolas.github.io/normalize.css/
@import "_normalize.scss";

// THIRD-PARTY: styles for JS libs etc

// ELEMENTS: styles for standard html elements
@import "_elements";

// HELPERS: helper classes. clear-fix etc 
@import "_helpers";

// LAYOUT: grids, wraps etc
@import "_layout";

// TYPOGRAPHY:
@import "_typography";

// SHARED-STYLES: styles used across multiple pages
@import "_shared";

// GLOBAL-ELEMENTS: elements that are used on every page. Eg headers & footers
@import "_header";
@import "_footer";

// PAGES: styles per page
@import "_homepage";

// BROWSER-FIXES: styles per page
@import "_browser-fixes";

// MEDIA-QUERIES:
@import "_media-queries";

//===============================================================================
// DEV-STYLES
//===============================================================================
// playground for development

.demo-body{
  padding-top: 10em;
}

.demo{
  @include text-shadow(10px 10px hsla(0,0,0,.07));

  color: darken(#3f3d4d, 10);
  text-align: center;
  font-size: 12em;
  line-height: .8;
}